Source: seminarix-latex
Section: doc
Priority: extra
Maintainer: Dinko Sabo <cobra@sidux.com>
Build-Depends: debhelper (>= 7)
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>,
 Ferdinand Thommes <devil@sidux.com>
Standards-Version: 3.9.1
Vcs-Svn: svn://svn.berlios.de/fullstory/seminarix-latex/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/seminarix-latex/trunk/

Package: seminarix-latex
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 kile,
 TeX Live-lang-german,
 TeX Live-latex-recommended,
 TeX Live-pstricks,
 TeX Live-science,
 cm-super,
 latex-beamer,
 TeX Live-latex-extra,
 lmodern,
 TeX Live-fonts-recommended,
 TeX Live-humanities,
 TeX Live-generic-extra
Description: LaTeX examples for sidux-seminarix
 An introduction to LaTeX, based on the TeX Live distribution and kile.
 Tutorial and sample files for common usage:
  * exercise sheets
  * writing articles
  * formal letters
  * mathematics and formulas
  * text sheets
  * index cards
 .
 This package also acts as metapackage for kile and TeX Live packages needed to
 work on these examples.
