Source: seminarix-latex
Section: doc
Priority: extra
Maintainer: Dinko Sabo <cobra@sidux.com>
Build-Depends: debhelper (>= 7)
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>,
 Ferdinand Thommes <devil@sidux.com>
Standards-Version: 3.8.4
Vcs-Svn: svn://svn.berlios.de/fullstory/seminarix-latex/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/seminarix-latex/trunk/

Package: seminarix-latex
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 kile,
 texlive-lang-german,
 texlive-latex-recommended,
 texlive-pstricks,
 texlive-science,
 cm-super,
 latex-beamer,
 texlive-latex-extra,
 lmodern,
 texlive-fonts-recommended,
 texlive-humanities,
 texlive-generic-extra
Description: LaTeX examples for sidux-seminarix
 LaTeX tutorial and sample files
